{% extends 'base.html' %}
{% block content %}

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <div class="mb-4">
                  <h5 class="card-title fw-semibold">Recent Appointment</h5>
                </div>
                <ul class="timeline-widget mb-0 position-relative mb-n5">
                  {% for i in client_invoice %}
                  
                  <li class="timeline-item d-flex position-relative overflow-hidden">
                    <div class="timeline-time text-dark flex-shrink-0 text-end">{{i.time}}</div>
                    <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                      <span class="timeline-badge border-2 border border-primary flex-shrink-0 my-8"></span>
                      <span class="timeline-badge-border d-block flex-shrink-0"></span>
                    </div>
                    <div class="timeline-desc fs-3 text-dark mt-n1"><h6 class="fw-semibold mb-0">{{i.client_id.admin.first_name}} {{i.client_id.admin.last_name}}</h6><br>{{i.date}}</div>
                  </li>
                  
                  {%endfor%}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Recent Patient Request</h5>
                <div class="table-responsive">
                  <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Id</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Assigned</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Name</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Status</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Mode of Payment</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in client_request %}
                      <tr>
                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{i.id}}</h6></td>
                        <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-1">{{i.featured_id}}</h6>
                        </td>
                        <td class="border-bottom-0">
                          <p class="mb-0 fw-normal">{{i.client_id.admin.first_name}} {{i.client_id.admin.last_name}}</p>
                        </td>
                        <td class="border-bottom-0">
                          <div class="d-flex align-items-center gap-2">
                            {% if i.status == 0 %}
                              <span class="badge bg-warning">Pending</span>
                              {% elif i.status == 1 %}
                              <span class="badge bg-success">Taking Up</span>
                              {% elif i.status == 2 %}
                              <span class="badge bg-danger">Canceled</span>
                              {% endif %}
                          </div>
                        </td> 
                        <td class="border-bottom-0">
                          <h6 class="fw-semibold mb-1 text-center">{{i.payment}}</h6>
                        </td>
                      </tr>
                      {%endfor%}  
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <h1 class="card-title fw-semibold mb-4">Services</h1>
          <div class="row">
            {% for i in featured %}
            <div class="col-sm-6 col-xl-3">
              <div class="card overflow-hidden rounded-2">
                <div class="position-relative">
                  <img src="/{{i.featured_photo}}" class="card-img-top rounded-0" alt="Product Image">                    
                </div>
                <div class="card-body pt-3 p-4">
                  <h6 class="fw-semibold fs-4">{{i.name}}</h6>
                  <div class="d-flex align-items-center justify-content-between">
                    <h6 class="fw-semibold fs-4 mb-0">${{i.discounted_price}}<span class="ms-2 fw-normal text-muted fs-3"><del>${{i.full_price}}</del></span></h6>
                  </div>
                </div>
                
              </div>
            </div>
            {% endfor %}   
          </div>
        </div>
{%endblock%}