{% load static %}
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        {% if user.user_type == '1' %}
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="{% url 'dentist_home'%}" class="text-nowrap logo-img">
            <img src="{% static 'assets/images/logos/dark-logo.png' %}" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'dentist_home'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Navigations</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'featured_add' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-script-plus"></i>
                </span>
                <span class="hide-menu">Add Featured</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'view_featured' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-file-certificate"></i>
                </span>
                <span class="hide-menu">View Featured</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'view_patient' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-users"></i>
                </span>
                <span class="hide-menu">View Patients</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'view_request' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-report-analytics"></i>
                </span>
                <span class="hide-menu">Patient Request</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'doLogout'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-logout"></i>
                </span>
                <span class="hide-menu">Logout</span>
              </a>
            </li>
    
          </ul>
        
        </nav>
        <!-- End Sidebar navigation -->
      
        {%elif user.user_type == '2'%}
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="{% url 'patient_home'%}" class="text-nowrap logo-img">
            <img src="{% static 'assets/images/logos/dark-logo.png' %}" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'patient_home'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Navigations</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'view_request_patient' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">View Request</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'view_schedule' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">View Schedule</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'doLogout'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-logout"></i>
                </span>
                <span class="hide-menu">Logout</span>
              </a>
            </li>
          </ul>
        
        </nav>
        <!-- End Sidebar navigation -->


        {%else%}

        {%endif%}
      </div>
      <!-- End Sidebar scroll-->
    </aside>